* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

/* параметры страницы */
.conteiner {
    display: grid;
    max-width: 100vw;
    min-width: 50vw;
    min-height: 80vh;
    max-height: 100vh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 10% 40% 20%;
    font-size: 0.5rem;
}

/* стиль и позиционирование шапки */
.header {
    display: grid;
    grid-column: 1/4;
    justify-content: center;
    align-content: center;
    background-color: lightgray;
}

/* Стиль и позиционирование основной области */
.main {
    display: grid;
    grid-area: 2/1/3/2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    justify-content: space-between;
    background-color: peachpuff;

}

/* Позиционирование текста в основной области */
.main_content_1 {
    display: grid;
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: start;
    justify-self: center;
    max-height: 2rem;
    min-height: 1rem;
}

/* Позиционирование дополнительного контента в основной области */
.main_content_2 {
    display: grid;
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.25rem;
}
/* Стиль дополнительного контента основной области */
.content_1, 
.content_2, 
.content_3 {
    display: grid;
    background-color: bisque;
    text-align: center;
    margin: 0.2;
}

.content_1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.content_2 {
    grid-column: 2/3;
    grid-row: 1/2;
}
.content_3 {
    grid-column: 1/3;
    grid-row: 2/3;
}
/* Позиционирование боковой области */
.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    background-color: lightgreen;
}

/* Позиционирование футера */
.footer {
    grid-column: 1/4;
    grid-row: 3/4;
    display: grid;
    max-width: 100%;
    min-width: 50%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: lightgray;
}

/* Стиль дополнительного контента футера */
.content_footer_1,
.content_footer_2,
.content_footer_3,
.content_footer_4 {
    display: grid;
    background-color: white;
    margin: 0.5rem;
    max-width: 100%;
    min-width: 50%;
}

.content_footer_4 {
    margin-right: 1rem;
}